/* #detailpage {
} */

/* .detailPage img {
  width: 100%;
  max-height: 500px;
} */

.detailPage img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
}

.detailPage article {
}
.detailPage article label {
  display: block;
}

.detailPage article input[type='range'] {
  width: 100%;
}
