header h1 {
  margin: 0 0 0.5em 0;
}

header article {
  width: calc(100%);
  position: relative;
  left: 0;
}

header article input[type='text'] {
  width: 100%;
  padding: 5px 10px 5px 1em;
  height: 3em;
  border: none;
  border: 1px solid grey;
  border-radius: 1.5em;
}

header article input[type='text']:focus {
  border-radius: 1.5em;
  outline: none;
  border: 1.5px solid orange;
}

header article button {
  position: absolute;
  top: 0;
  right: 0;
  height: 3em;
  outline: none;
  border-radius: 1.5em;
  background: transparent;
  border: none;
}

header article button::before {
  content: '\f002';
  font-family: 'FontAwesome';
  font-size: var(--h2);
  padding: 1em 0.7em;
}

header article button:focus {
  border-radius: 1.5em;
  outline: none;
  border: 1.5px solid orange;
}

header p {
  margin: 1em 0;
}

.detailPage header {
  width: 100%;
  display: unset;
}
.detailPage header h1 {
  height: unset;
  line-height: unset;
}

@media screen and (min-width: 600px) {
  header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  header h1 {
    height: 64px;
    line-height: 2em;
  }

  header article {
    width: unset;
    height: 64px;
    left: unset;
    display: grid;
    place-items: center;
  }

  header article input[type='text'] {
    border-radius: 20px;
    width: 225px;
  }

  header article input[type='text']:focus-within {
    width: 50vw;
    transition: 0.5s;
  }

  header article button {
    margin: auto;
    top: 0;
    bottom: 0;
  }

  header p {
    flex: 0 1 100%;
  }
}
