:root {
  --colorPrimary: #27272f;
  --colorAccent: #ec904c;
  --colorSoftWhite: #f5f5f5;
  --textCol: #f5f5f5;
  --textColLabel: #908e9b;
  --textColPrim: #e1dfe9;
  --sizeSm1: 0.25rem;
  --sizeSm2: 0.375rem;
  --sizeSm3: 0.5rem;
  --sizeSm4: 0.75rem;
  --sizeMd1: 1rem;
  --sizeMd2: 1.25rem;
  --sizeMd3: 1.5rem;
  --sizeLg1: 2rem;
  --sizeLg2: 3rem;
  --sizeLg3: 4rem;
  --fontsize: 16px;
}

/*************************************
              Homepage 
**************************************/

header {
  margin-bottom: 1em;
}

header h1 {
  margin: 0 0 0.5em 0;
}

#searchHeader article {
  width: calc(100%);
  position: relative;
  height: 40px;
}

#searchHeader article input[type='text'] {
  width: 100%;
  padding: 5px 10px 5px 1em;
  height: 3em;
  border: none;
  border: 1px solid grey;
  border-radius: 1.5em;
  position: absolute;
  right: 0;
}

#searchHeader article input[type='text']:focus {
  border-radius: 1.5em;
  outline: none;
  border: 1.5px solid var(--colorAccent);
}

#searchHeader article button {
  position: absolute;
  top: 0;
  right: 0;
  height: 3em;
  width: 3em;
  outline: none;
  border-radius: 50%;
  background: transparent;
  border: none;
}

#searchHeader article button::before {
  content: '\f002';
  font-family: 'FontAwesome';
  font-size: var(--h2);
  padding: 1em 0.7em;
}

#searchHeader article button:focus {
  border-radius: 50%;
  outline: none;
  border: 1.5px solid var(--colorAccent);
}

header p {
  margin: 1em 0;
}

@media screen and (min-width: 600px) {
  #searchHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  header h1 {
    height: 64px;
    line-height: 2em;
  }

  #searchHeader article {
    width: unset;
    height: 64px;
    left: unset;
    display: grid;
    place-items: center;
  }

  #searchHeader article input[type='text'] {
    border-radius: 20px;
    width: 225px;
  }

  #searchHeader article input[type='text']:focus-within {
    width: 30vw;
    max-width: 500px;
    transition: 0.5s;
  }

  #searchHeader article button {
    margin: auto;
    top: 0;
    bottom: 0;
  }

  #searchHeader p {
    flex: 0 1 100%;
  }
}

/*************************************
            Editor page 
**************************************/

.detailPage header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.detailPage header a {
  /* flex: 1; */
  color: var(--colorSoftWhite);
  text-decoration: none;
  display: flex;
  line-height: 2rem;
  margin: 0.5em 0;
}

.detailPage header a:before {
  font-family: FontAwesome;
  content: '\f060';
  display: block;
  margin-right: 0.5rem;
  font-size: 1.25rem;
  padding-top: -4px;
}

.detailPage header article {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*************************************
              Buttons
*************************************/

#fileInfo,
#imgInfo {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.75rem;
  background-color: white;
  position: relative;
  margin-left: 0.5rem;
}

#fileInfo:before {
  color: var(--colorPrimary);
  font-family: FontAwesome;
  content: '\f019';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#fileInfo article {
  position: absolute;
  z-index: 1;
  top: 50px;
  right: 0;
  width: 250px;
  background-color: white;
  flex-wrap: wrap;
  flex-direction: column;
  display: none;
  transition: 0.3s ease;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

#fileInfo .openFileElement {
  display: flex !important;
}

#fileInfo article button {
  width: 100%;
  background-color: var(--colorAccent);
  outline: none;
  border: none;
  margin: 0.25rem 0;
  padding: 0.25rem 0;
  border-radius: 0.5rem;
  opacity: 0.75;
}

#fileInfo article button:hover {
  opacity: 1;
}

#fileInfo article button:nth-child(1):before {
  content: '';
}

#fileInfo article button:nth-child(2):before {
  content: '';
}

#imgInfo:before {
  color: var(--colorPrimary);
  font-family: FontAwesome;
  content: '\f129';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#imgInfo article {
  position: absolute;
  top: 50px;
  right: calc(-40px - -0.5rem);
  background-color: white;
  display: none;
  color: black;
  transition: 0.3s ease;
  text-align: right;
}

#imgInfo .openImgElement {
  display: block !important;
}

/*************************************
            Editor page 
**************************************/

.profilePage header a {
  /* flex: 1; */
  color: var(--colorPrimary);
  text-decoration: none;
  display: flex;
  line-height: 2rem;
  margin: 0.5em 0;
}

.profilePage header a:before {
  font-family: FontAwesome;
  content: '\f060';
  display: block;
  margin-right: 0.5rem;
  font-size: 1.25rem;
  padding-top: -4px;
}

@media screen and (min-width: 1200px) {
  .detailPage header {
    width: 100%;
    padding: 1em 2em;
    background-color: #1b1b22;
    margin: 0;
  }
  .detailPage #detailHeader #fileInfo {
    width: unset;
    height: unset;
    border-radius: unset;
    position: unset;
    margin: unset;
    background-color: unset;
  }
  .detailPage #detailHeader #fileInfo:before {
    content: '';
  }
  .detailPage #detailHeader #fileInfo article {
    width: unset;
    display: flex;
    position: unset;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: unset;
    padding: unset;
  }
  .detailPage #detailHeader #fileInfo article button {
    padding: unset;
    margin: unset;
    margin-left: 1rem;
    height: 2.5rem;
    padding: 0 3rem;
  }
}
