/*************************************
            Homepage 
**************************************/

body {
  padding: 1em 1em 0em 1em;
}
.homePage main {
  background-color: #fff;
  position: relative;
  width: calc(100% + 2rem);
  left: -1rem;
  min-height: calc(100vh - 131px);
  border-radius: 16px 16px 0 0;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2),
    0 6px 20px 0 rgba(255, 255, 255, 0.19);
  padding: 24px 16px 16px 16px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 250px;
}

.searchedImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

/*************************************
            Editor page 
**************************************/

.detailPage {
  background-color: var(--colorPrimary);
  color: var(--colorSoftWhite);
}
.detailPage main canvas {
  width: 100%;
  height: 67.5vh;
  display: block;
  object-fit: cover;
}

.detailPage main section {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.detailPage main section details {
  text-align: center;
  padding: 5px;
  transition: 0.3s ease;
  margin-bottom: 1em;
}

.detailPage main section details:first-child {
  margin-left: 1rem;
}

.detailPage main section details:last-child {
  padding-right: 1rem;
}

.detailPage main section details summary {
  color: #fff;
  border-radius: 3px;
  outline: none;
  font-size: 0.875rem;
  padding: 5px 5px 45px;
  position: relative;
}

.detailPage main section details summary::first-letter {
  text-transform: uppercase;
}

.detailPage main section details summary::-webkit-details-marker {
  display: none;
}

.detailPage main section details summary:before {
  position: absolute;
  background-color: var(--colorSoftWhite);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  font-family: FontAwesome;
  content: '\f302';
  color: var(--colorSoftWhite);
  line-height: 2rem;
  transition: 0.3s ease;
}

.detailPage section details[open] {
  margin-bottom: 4em;
}

.detailPage section details[open] summary {
  color: var(--colorAccent);
}

.detailPage section details[open] summary:before {
  background-color: var(--colorAccent);
  opacity: 1;
}

.detailPage main section details[open] div {
  position: fixed;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0.5em;
  height: 3em;
  border-radius: 2em;
}

.detailPage main section details[open] div input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  max-width: 500px;
  height: 10px;
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: grey;
  margin-top: 1.4em;
}

.detailPage details[open] input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  background-color: var(--colorAccent);
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (max-height: 750px) {
  .detailPage main canvas {
    height: 60vh;
  }
}

@media screen and (min-width: 700px) {
  body {
    padding: 1em 2em;
  }
  .homePage main {
    padding: 32px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 350px;
  }
  .detailPage section {
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .homePage {
    padding: 1em 10vw 0em;
    max-width: 1500px;
    margin: 0 auto;
  }

  .homePage main {
    padding: 32px 48px;
    grid-gap: 1.5rem;
    grid-auto-rows: 450px;
  }

  .detailPage {
    padding: 0;
  }

  .detailPage main {
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 2fr;
    height: calc(100vh - 80px);
    background-color: var(--colorPrimary);
    color: #89899b;
  }

  .detailPage main canvas {
    height: inherit;
  }

  .detailPage main section {
    width: 100%;
    height: 100%;
    position: unset;
    display: block;
    width: unset;
  }

  .detailPage main section details:first-child,
  .detailPage main section details:last-child {
    margin: 0;
    padding: 0;
  }

  .detailPage main section details {
    width: 100%;
    height: 4rem;
    /* height: 11.1%; */
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .detailPage main section details[open] {
    margin: unset;
    height: 7rem;
  }

  .detailPage main section details summary {
    width: 100%;
    /* height: 100%; */
    padding: unset;
    line-height: 4rem;
    font-size: 1rem;
  }

  .detailPage main section details summary:before {
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }

  .detailPage main section details[open] div {
    position: unset;
    width: unset;
    transform: unset;
    height: unset;
    margin: unset;
  }
}
