@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary: #000;
  --secondary: #eeeeef;
  --white: #fff;
  --fontsize: 1em;
  --fullwidth: 100%;
  --h2: 1.5em;
}

@import './header.css';
@import './footer.css';

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

html {
  background: var(--secondary);
  color: var(--primary);
  font-size: var(--fontsize);
}

body {
  margin: 1em;
  min-height: calc(100vh - 2em);
}

main {
  background-color: var(--white);
  position: relative;
  width: calc(100% + 2em);
  left: -1em;
  min-height: 75vh;
  border-radius: 16px 16px 0 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 24px 16px 16px 16px;
  margin-bottom: 3.5em;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 250px;
}

#searchedImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
