header h1 {
  margin: 0 0 0.5em 0;
}

header article {
  width: calc(100%);
  position: relative;
  left: 0;
}

header article input[type='text'] {
  width: 100%;
  padding: 5px 10px 5px 1em;
  height: 3em;
  border: none;
  border: 1px solid grey;
  border-radius: 1.5em;
}

header article input[type='text']:focus {
  border-radius: 1.5em;
  outline: none;
  border: 1.5px solid orange;
}

header article button {
  position: absolute;
  top: 0;
  right: 0;
  height: 3em;
  outline: none;
  border-radius: 1.5em;
  background: transparent;
  border: none;
}

header article button::before {
  content: '\f002';
  font-family: 'FontAwesome';
  font-size: var(--h2);
  padding: 1em 0.7em;
}

header article button:focus {
  border-radius: 1.5em;
  outline: none;
  border: 1.5px solid orange;
}

header p {
  margin: 1em 0;
}

@media screen and (min-width: 600px) {
  header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  header article {
    width: unset;
    height: unset;
    left: unset;
  }

  header article input[type='text'] {
    border-radius: 20px;
    width: 225px;
  }

  header article input[type='text']:focus-within {
    width: 350px;
    transition: 0.5s;
  }

  header p {
    flex: 0 1 100%;
  }

  /* header article {
    display: flex;
    justify-content: space-between;
  }
  header article div {
    display: flex;
    justify-content: flex-end;
    width: 70%;
  }
  header article div input[type='text'] {
    border-radius: 20px;
    width: 100px;
  }
  
  header article input[type='text']:focus-within {
    width: 300px;
    transition: 0.5s;
  }
  header article p {
    flex: 0 1 100%;
    display: inline-block;

    width: 100%;
  } */

  /* header {
    display: flex;
    justify-content: space-between;
  }

  header article {
    display: flex;
    justify-content: flex-end;
    width: 70%;
  }
  header article input[type='text'] {
    width: 100px;
    position: relative;
    right: 0;
    transition: 0.5s;
  }

  header article input[type='text']:focus-within {
    width: 100%;
  }
  header article p {
    display: block;
    width: 100%;
  } */
  /* header article button */
}
